.navbar{
    height: 30px;
    display:flex;
    align-items: center;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-family: 'Arimo', sans-serif;
    font-size: 0.75rem;
    
}
* {
    box-sizing: border-box;
}